div.message-history {
	height: 100%;
	display: flex;
 	flex-direction: column;
}
.messages-nav {
	background-color: #f5f5f5;
	display: flex;
	align-items: flex-start;
}
.messages-nav > button {
	width: min-content;
}
div.messages {
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1rem;
	max-height: calc(100% - 3em);
	height: calc(100% - 3em);
}
