.navbar-menu {
	margin-right: 0 !important;
}
@media screen and (min-width: 1024px) {
	#menu-expand {
		display: none;
	}
}
.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1000;
}

.toast.show {
  opacity: 1;
}
